.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../imagens/fundo.tela.b.jpg');
  background-size: cover;
  background-position: center;
}

.imagem {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.div-container {
  display: flex;
 justify-content: space-around;
  background-color: rgba(248, 213, 168, 0.62);
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
  height: 70%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 15%;
  width: 250px;
}
.button{
  text-decoration: none;
}




/* Adicione media queries para tornar o layout responsivo */
@media screen and (max-width: 992px) {
  .form-container, .imagem{
    max-width: 250px;
    /* Reduz a largura máxima para telas menores */
  }
  
}