.cad-empresa{
  background-image: url('../../imagens/laranja2.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
}

.cad-empresa-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Georama', sans-serif;
    margin-top: 10px;
  }
  
  .cad-dados-empresa {    
    width: 80%;
    margin-top: 25px;
    background-color: rgb(138,138,138);
    height: 90%;
    border-radius: 1%;
    padding: 10px;
    margin-left: 20px;
  }
