.salas {
  background-image: url('../../imagens/laranja2.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
}

.salas-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'Georama', sans-serif;
  margin-top: 10px;
}

.dados-salas {    
  width: 80%;
  margin-top: 25px;
  background-color: rgb(138,138,138);
  height: 88%;
  border-radius: 1%;
  padding: 10px;
  margin-left: 20px;
}

.geral-salas {
  display: flex;
  justify-content: space-between;
}

.input-salas {
  width: 80%;
}

.tabela-salas {
  padding: 5px;
  width: 80%  ;
}

@media(max-width: 992px){
  .tabela-salas {
    padding: 5px;
    width: 70%;
  }
  
}


  

