*{
    margin: 0;
    
}

.telas {
    background-image: url(../../imagens/base-tela-laranja.jpg);
    background-repeat: no-repeat; 
    display: flex; 
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
   
}


 .telas a{
    text-decoration: none;
    font-family: 'Georama', sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    color:black;
}

 a:hover { 
    color: #FC5E05;
    transition: all 0.3s;
}



@media (max-width: 992px) {
    .telas{
        flex-direction: column;
        margin-top: auto;
        align-items: center;
        display: flex;
        
    }

    .telas div{
    
    }
}