.cad-midia{
  background-image: url('../../imagens/laranja2.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
}

.cad-midia-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Georama', sans-serif;
  }
  
  .cad-dados-midia {    
    width: 80%;
    margin-top: 30px;
    background-color: rgb(138,138,138);
    height: 80%;
    border-radius: 1%;
    padding: 20px;
    margin-left: 20px;
  }

  .data-pick {
    margin-left: 25%;
  }