.cad-usuario, .cad-sala, .cad-midia, .cad-empresa {
    background-image: url('../../imagens/fundo.tela.b.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*height: 91vh;*/
    min-height: 80vh;
    margin: 0;
  }
  
  .cad-usuario-container,.cad-salas-container, .cad-midia-container, .cad-empresa-container  {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      font-family: 'Georama', sans-serif;
    }
    
    .cad-dados-usuario, .cad-dados-salas, .cad-dados-midia,  .cad-dados-empresa  {    
      width: 60%;
      background-color: RGBA(217, 217, 217, 0.5);
      height: 80%;
      border-radius: 1%;
      padding: 5px;
      margin-left: 20px;
      min-width: 350px;

    }  
    .data-pick {
        display: flex;
        justify-content: space-around;
      }
      @media(max-width:992px){
        .cad-dados-usuario, .cad-dados-salas, .cad-dados-midia,  .cad-dados-empresa  {    
          margin-top: 0;
          max-width: 70%;
        }
        .titulo{
          font-size: 20px;
        }
      }